.weather-presenter {
    color: #878787;
    padding: 20px;
}

.weather-presenter .forecast>div:not(:first-child) {
    margin-top: 10px;
}

.weather-presenter .forecast .value {
    margin-left: 5px;
    font-weight: bold;
}

.weather-presenter .temperature-icon {
    width: 90px;
    height: auto;
}