.App {
  text-align: center;
}

.App-logo {
  width: 120px;
  height: auto;
}

.App-header {
  background-color: #99dfef;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}