body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
  width: 100%;
  text-align: center;
  background-color: #303b3e;
  color: white;
  padding: 12px 20px;
  margin: 14px 0 8px 0;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px #ddd;
  cursor: pointer;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1024px) {
  .container {
    width: 50%;
  }
}